<!DOCTYPE html>
<html>
  <head>
    <title>Django + Stripe</title>
  </head>
  <body>
    <h1>Добро пожаловать!</h1>
    <p>1. Убедитесь, что выполнили все шаги из README.md для развертывания проекта (Проект на GitHub: <a href="https://github.com/weirdfisshes/django_stripe_api">github.com/weirdfisshes/django_stripe_api</a></p>)</p>
    <p>2. Создайте суперпользователя</p>
    <p>3. В админке создайте несколько товаров</p>
    <p>4. В Перейдите по ссылке для просмотра товара по id, например: <a href="http://127.0.0.1:8000/item/1/">http://127.0.0.1:8000/item/1/</a></p>
    <p>5. Нажмите "Buy" и вы будете перенаправлены на Stripe для оплаты</p>
    <p>6. После оплаты вы увидите либо подтверждение, что платеж прошел, либо сообщение о невозможности произвести платеж</p>
  </body>
</html>
